<clr-input-container>
    <label>Subject</label>
    <input clrInput type="text" [(ngModel)]="action.subject" name="subject" required maxlength=255 [readOnly]="readOnly" /> 
    <clr-control-error *clrIfError="'required'">Subject is a required field</clr-control-error>
</clr-input-container>
<clr-textarea-container>
    <label>Content</label>
    <textarea clrTextarea [(ngModel)]="action.content" name="content" required [readOnly]="readOnly"></textarea>
    <clr-control-error *clrIfError="'required'">Content is a required field</clr-control-error>
</clr-textarea-container>
<clr-combobox-container>
    <label>Recipients</label>
    <clr-combobox name="recipients" [(ngModel)]="selectedUserGroups" [clrMulti]="true" 
        (clrSelectionChange)="onUserGroupSelectionChanged($event.model)">
        <ng-container *clrOptionSelected="let selected">
            <clr-icon shape="users"></clr-icon> {{selected.name}}
        </ng-container>
        <clr-options>
            <clr-option *clrOptionItems="let userGroup of userGroups; field:'name'" [clrValue]="userGroup">
                <clr-icon shape="users"></clr-icon> {{userGroup.name}}                
            </clr-option>
        </clr-options>
    </clr-combobox>
</clr-combobox-container>