<h1 style="color:orangered ; font-size: 200%; text-align: center; ">RevoSystem Technologies</h1>
<h2 style="color: green;">About Us</h2>
<p>RevoSystem Technologies is working in field of Industry 4.0 technology & providing turnkey industrial solution which
    help industry for their digital transformation journey by providing solution in area of IIOT, factory automation,
    computer vision & machine learning. </p>

<p>RevoSystem works in area of industrial automation & providing solution by low cost automation with indigenous
    technology to promote make in India initiative. </p>

<p style="color: blue;">
<clr-icon shape="envelope" solid></clr-icon>
revosystechnologies2@gmail.com
</p>
<p style="color: blue;">
<clr-icon shape="mobile" ></clr-icon>
9922135365
</p>