<div class="card">
    <div class="card-header">Things
        <button class="action-item btn btn-primary right" routerLink="0">
            <clr-icon shape="plus"></clr-icon> New Thing
        </button>
    </div>
    <div>
        <app-local-message [message]="message"></app-local-message>
         <clr-datagrid [style.width.px]=450 class="datagrid-compact">
            <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="sortType">Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
            <clr-dg-column>Actions</clr-dg-column>
            <clr-dg-row *clrDgItems="let thing of things">
                <clr-dg-cell>
                    <a href="javascript://" [routerLink]="[thing.id]">{{thing.name}}</a>
                </clr-dg-cell>
                <clr-dg-cell>
                    <clr-icon shape="check" class="is-success" *ngIf="ThingStatus.ONLINE===thing.status"></clr-icon><clr-icon shape="times" class="is-danger" *ngIf="ThingStatus.OFFLINE===thing.status"></clr-icon> {{thing.status}}
                </clr-dg-cell>
                <clr-dg-cell>
                    <div class="btn-group btn-link btn-icon" style="float: right; margin-right: 0;">
                        <button class="btn" routerLink="0" [queryParams]="{templateThingId: thing.id}"><clr-icon shape="copy"></clr-icon></button>
                        <button class="btn" (click)="delete(thing)"><clr-icon shape="trash"></clr-icon></button>
                    </div>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} things
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>