<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-lg-4">
        <div class="card" *ngIf="trigger">
            <div class="card-header">{{header}}</div>
            <div class="card-block">
                <app-local-message [message]="message"></app-local-message>
                <form clrForm #triggerForm="ngForm">
                    <clr-tabs>
                        <clr-tab>
                            <button clrTabLink>Details</button>
                            <clr-tab-content>
                                <app-trigger-details [trigger]="trigger"></app-trigger-details>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink>Scripts</button>
                            <clr-tab-content>
                                <app-trigger-scripts></app-trigger-scripts>
                            </clr-tab-content>
                        </clr-tab>
                        <clr-tab>
                            <button clrTabLink>Window</button>
                            <clr-tab-content>
                                <app-trigger-window></app-trigger-window>
                            </clr-tab-content>
                        </clr-tab>
                    </clr-tabs>
                </form>
            </div>
            <div class="card-footer">
                <div class="clr-row clr-justify-content-between">
                    <div class="clr-col">
                        <button class="btn btn-link" routerLink="..">
                            <clr-icon shape="caret left"></clr-icon> Back
                        </button>
                    </div>
                    <div class="clr-col text-right">
                        <button class="btn btn-primary" (click)="save()" [disabled]="!triggerForm.valid">
                            <clr-icon shape="floppy"></clr-icon> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
