<clr-control-container *ngIf="thing.id">
    <label>Id</label> 
    {{thing.id}}
</clr-control-container>
<clr-input-container>
    <label>Name</label>
    <input clrInput type="text" [(ngModel)]="thing.name" name="name" required 
    maxlength=255 [readOnly]="readOnly" appThingNameValidator [id]="thing?.id ? thing.id! : '0'" /> 
    <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
    <clr-control-error *clrIfError="'appThingNameValidator'">This name is already taken</clr-control-error>
</clr-input-container>
<clr-input-container>
    <label>Inactivity Period (millis)</label>
    <input clrInput type="number" [(ngModel)]="thing.inactivityPeriod" #period="ngModel" name="inactivityPeriod" required min="1" [readOnly]="readOnly"/>
    <clr-control-error *clrIfError="'required'">Inactivity Period is a required field</clr-control-error>
    <clr-control-error *clrIfError="'min'">Inactivity Period must be positive</clr-control-error>
</clr-input-container>
