<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-lg-4">
        <div class="card">
            <div class="card-header">
                {{header}}
            </div>
            <div class="card-block">
                <app-local-message [message]="message"></app-local-message>
                <clr-tabs>
                    <clr-tab>
                        <button clrTabLink>Details</button>
                        <clr-tab-content>
                            <app-thing-details [thing]="thing"></app-thing-details>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Sensors</button>
                        <clr-tab-content>
                            <app-sensors [sensors]="thing.sensors"></app-sensors>
                        </clr-tab-content>
                    </clr-tab>
                    <clr-tab>
                        <button clrTabLink>Actuators</button>
                        <clr-tab-content>
                            <app-actuators></app-actuators>
                        </clr-tab-content>
                    </clr-tab>
                </clr-tabs>
            </div>
            <div class="card-footer">
                <button class="btn btn-link" routerLink="..">
                    <clr-icon shape="caret left"></clr-icon> Back
                </button>
                <button class="btn btn-primary" (click)="save()">
                    <clr-icon shape="floppy"></clr-icon> Save
                </button>
            </div>
        </div>        
    </div>
</div>
