<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-lg-4">
        <div class="card">
            <div class="card-header">
                {{header}}
            </div>
            <div class="card-block">
                <app-local-message [message]="message"></app-local-message>
                <form clrForm #thingGroupForm="ngForm">
                    <clr-control-container *ngIf="thingGroup.id">
                        <label>Id</label> 
                        {{thingGroup.id}}
                    </clr-control-container>
                    <clr-input-container>
                        <label>Name</label>
                        <input clrInput type="text" [(ngModel)]="thingGroup.name" name="name" 
                        required maxlength=255 [readOnly]="readOnly" 
                        appThingGroupNameValidator [id]="thingGroup?.id ? thingGroup.id! : '0'"/> 
                        <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
                        <clr-control-error *clrIfError="'appThingGroupNameValidator'">This name is already taken</clr-control-error>
                    </clr-input-container>
                    <clr-select-container>
                        <label>Language</label>
                        <select clrSelect name="language" [(ngModel)]="thingGroup.language" [disabled]="readOnly" required>
                            <option value='SQL'>Sql</option>
                            <option value='PYTHON'>Python</option>
                            <option value='JAVASCRIPT'>Javascript</option>
                        </select>
                    </clr-select-container>
                    <clr-textarea-container>
                        <label>Script</label>
                        <textarea name="script" clrTextarea required [(ngModel)]="thingGroup.script" [readOnly]="readOnly"></textarea>
                        <clr-control-error *clrIfError="'required'">Script is required</clr-control-error>
                    </clr-textarea-container>
                </form>
            </div>
            <div class="card-footer">
                <div class="clr-row clr-justify-content-between">
                    <div class="clr-col">
                        <button class="btn btn-link" routerLink="..">
                            <clr-icon shape="caret left"></clr-icon> Back
                        </button>
                    </div>
                    <div class="clr-col text-right">
                        <button class="btn btn-primary" (click)="save()" [disabled]="thingGroupForm.untouched ||  thingGroupForm.invalid">
                            <clr-icon shape="floppy"></clr-icon> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>