<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="./dashboard" routerLinkActive="active">
        <clr-icon shape="house" size="28" ></clr-icon>
        <span class="title" style="font-size: 175%;">Condition Based Monitoring System</span>
      </a>
    </div>
    <a class="logo_aboutus" routerLink="./aboutUs" routerLinkActive="active">
      <img src="assets/output-onlinepngtools (11).png" alt="RevoSystem Technologies Pvt. Ltd." class="logo">
    </a>
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
        <clr-icon shape="dashboard"></clr-icon> Dashboard
      </a>
      <a clrVerticalNavLink routerLink="./things" routerLinkActive="active">
        <clr-icon shape="nodes"></clr-icon> Machines
      </a>
      <a clrVerticalNavLink routerLink="./sensors" routerLinkActive="active">
        <clr-icon shape="dashboard"></clr-icon> Sensors
      </a>
      <a clrVerticalNavLink routerLink="./channels" routerLinkActive="active">
        <clr-icon shape="dashboard"></clr-icon> Channels
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

  </div>
  <div class="clr-footer">
    © 2021 RevoSystem Technologies Pvt. Ltd.
    All Rights Reserved.
  </div>
</div>