<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-lg-4">
    <div class="card">
      <div class="card-header">
        Sensors <a href="#" class="p7" [routerLink]="['/things',thing?.id]">for {{thing?.name}}</a>
        <button class="action-item btn btn-primary right"routerLink="0"><clr-icon shape="plus"></clr-icon> New Sensor</button>
      </div>
      <div class="card-block">
        <clr-progress-bar class="progress top" clrLoop *ngIf="showProgressBar"></clr-progress-bar>
        <app-local-message [message]="message"></app-local-message>
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="sortType">Name</clr-dg-column>
          <clr-dg-column [clrDgField]="'unit'">Unit</clr-dg-column>
          <clr-dg-column>Actions</clr-dg-column>
          <clr-dg-row *clrDgItems="let sensor of sensors">
            <clr-dg-cell>
              <a href="javascript://" [routerLink]="sensor.id">{{ sensor.name }}</a>
            </clr-dg-cell>
            <clr-dg-cell>{{ sensor.unit }}</clr-dg-cell>
            <clr-dg-cell>
              <div class="btn-group btn-link btn-icon" style="float: right; margin-right: 0;">
                <button class="btn" routerLink="0" [queryParams]="{templateSensorId: sensor.id}"><clr-icon shape="copy"></clr-icon></button>            
                <button class="btn" (click)="delete(sensor)"><clr-icon shape="trash"></clr-icon></button>
              </div>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>    
  </div>
</div>
