<div class="card" *ngIf="sensor">
    <div class="card-header">{{header}}</div>
    <div class="card-block">
        <app-local-message [message]="message"></app-local-message>
        <form clrForm #sensorForm="ngForm">
            <clr-control-container *ngIf="sensor.id">
                <label>Id</label> 
                {{sensor.id}}
                <a href="javascript://" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                    <button ngxClipboard [cbContent]="sensor.id" class="btn btn-link" type="button">
                        <clr-icon shape="copy-to-clipboard"></clr-icon>
                    </button>     
                    <span class="tooltip-content">Copy to clipboard</span>
                </a>
            </clr-control-container>
            <clr-input-container>
                <label>Name</label>
                <input clrInput type="text" [(ngModel)]="sensor.name" name="name" required minlength=3 [readOnly]="readOnly" /> 
                <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
                <clr-control-error *clrIfError="'minlength'; error as err">Name must be at least {{ err.requiredLength }} characters</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>Unit</label>
                <input clrInput type="text" [(ngModel)]="sensor.unit" name="unit" required minlength=1 [readOnly]="readOnly" /> 
                <clr-control-error *clrIfError="'required'">Unit is a required field</clr-control-error>
                <clr-control-error *clrIfError="'minlength'; error as err">Unit must be at least {{ err.requiredLength }} characters</clr-control-error>
            </clr-input-container>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save()" [disabled]="!sensorForm.form.valid || !sensorForm.form.touched || !sensorForm.form.dirty">
            <clr-icon shape="floppy"></clr-icon> Save
        </button>
    </div>
</div>
