<div class="main-container">
    <header class="header header-6">
      <div class="branding">
        <span class="title">Thyng</span>
      </div>
    </header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true">
            <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
              Home
            </a>
            <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
              Dashboard
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
              Gateways
            </a>
            <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
              Things
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
              Users
            </a>
            <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                Reports
              </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
              <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
              Billing
            </a>
          </clr-vertical-nav>
      <div class="content-area">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora eligendi quos unde id optio culpa, illo
          perspiciatis laboriosam explicabo in voluptate incidunt est beatae rerum quisquam accusantium corporis
          reiciendis delectus!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi ad, minus fuga neque voluptatibus quidem
          libero ducimus quas ipsa eveniet explicabo voluptates sunt error! Eligendi a, animi consequatur odit.
        </p>
      </div>
    </div>
  </div>