<div *ngIf="errorMessage">
    <div class="alert alert-danger alert-app-level" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">{{errorMessage}}</span>
            </div>
        </div>
    </div>
</div>


<div class="card" *ngIf="!errorMessage">
    <div class="card-header">Tenants
        <button class="action-item btn btn-success right">
            <clr-icon shape="plus"></clr-icon> New Tenant
        </button>
    </div>
    <div>
        <clr-datagrid [clrDgLoading]="isLoading" [style.width.px]=500>
            <clr-dg-column [style.width.px]=200>Name</clr-dg-column>
            <clr-dg-column [style.width.px]=50>Enabled</clr-dg-column>
            <clr-dg-column>Actions</clr-dg-column>
            <clr-dg-row *clrDgItems="let tenant of tenants">
                <clr-dg-cell>{{tenant.name}}</clr-dg-cell>
                <clr-dg-cell>
                    <clr-icon shape="check" *ngIf="tenant.enabled"></clr-icon>
                    <clr-icon shape="cross" *ngIf="!tenant.enabled"></clr-icon>
                </clr-dg-cell>
                <clr-dg-cell>
                    <div class="btn-group btn-primary btn-icon" style="float: right; margin-right: 0;">
                        <a href="javascript://" role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                            <button ngxClipboard [cbContent]="tenant.id" class="btn"><clr-icon shape="key"></clr-icon></button>
                            <span class="tooltip-content">{{tenant.id}}</span>
                        </a>
                        <a href="javascript://" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                            <button class="btn"><clr-icon shape="copy"></clr-icon></button>
                            <span class="tooltip-content">Copy</span>
                        </a>
                        <a href="javascript://" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                            <button class="btn"><clr-icon shape="note"></clr-icon></button>
                            <span class="tooltip-content">Edit</span>
                        </a>
                        <a href="javascript://" role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                            <button class="btn btn-danger"><clr-icon shape="trash"></clr-icon></button>
                            <span class="tooltip-content">Delete</span>
                        </a>
                    </div>
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>