<div class="card">
    <div class="card-header">
        Tenants
        <button class="action-item btn btn-primary right">
            <clr-icon shape="plus"></clr-icon> New Tenant
        </button>
    </div>
    <div>
        <clr-datagrid [clrDgLoading]="isLoading">
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Enabled</clr-dg-column>
            <clr-dg-column>Id</clr-dg-column>
            <clr-dg-row *clrDgItems="let tenant of tenants">
                <clr-dg-cell>{{tenant.name}}</clr-dg-cell>
                <clr-dg-cell>{{tenant.enabled}}</clr-dg-cell>
                <clr-dg-cell>{{tenant.id}}</clr-dg-cell>
              </clr-dg-row>
        </clr-datagrid>
    </div>
</div>