<clr-control-container *ngIf="template.id">
    <label>Id</label> 
    {{template.id}}
</clr-control-container>
<clr-input-container>
    <label>Name</label>
    <input clrInput type="text" [(ngModel)]="template.name" name="name" required maxlength=255 [readOnly]="readOnly" /> 
    <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
</clr-input-container>
<clr-input-container>
    <label>Inactivity Period</label>
    <input clrInput type="number" [(ngModel)]="template.inactivityPeriod" #period="ngModel" name="inactivityPeriod" required min="60" [readOnly]="readOnly"/>
    <clr-control-error *clrIfError="'required'">Inactivity Period is a required field</clr-control-error>
</clr-input-container>
