<clr-modal [clrModalOpen]="options ? true : false" *ngIf="options">
    <h3 class="modal-title">
        <clr-icon [ngClass]="options.iconClasses" size='36' [attr.shape]="options.iconShape"></clr-icon> Please confirm !
    </h3>
    <div class="modal-body">{{options.text}}</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link" (click)="options=undefined">Cancel</button>
      <button type="button" class="btn" [ngClass]="options.buttonClasses" (click)="confirm();">{{options.buttonText}}</button>
    </div>
</clr-modal>