<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
    Home
  </a>
  <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
    Dashboard
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="tenants" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Tenants
  </a>
  <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Gateways
  </a>
  <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
    Things
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
    Users
  </a>
  <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
    Reports
  </a>
  <div class="nav-divider"></div>
  <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
    Billing
  </a>
</clr-vertical-nav>
