<div class="text-right">
    <button class="btn btn-link" (click)="create()">
        <clr-icon shape="plus"></clr-icon> Add Sensor
    </button>
</div>
<div *ngFor="let sensor of sensors; let i = index" class="clr-row"> 
    <div class="clr-col-5">
        <span>
            <clr-input-container class="compact">
                <label hidden></label>
                <input clrInput [(ngModel)]="sensor.name" class="no-validation-icon" [name]="'name'+i" placeholder="Name" required maxlength="255"/>
                <clr-control-error *clrIfError="'required'">Name is required</clr-control-error>
            </clr-input-container>
        </span>
    </div>
    <div class="clr-col-3">
        <span>
            <clr-input-container class="compact">
                <label hidden></label>
                <input clrInput [(ngModel)]="sensor.unit" class="no-validation-icon" [name]="'unit'+i" placeholder="Unit" required maxlength="255"/>
                <clr-control-error *clrIfError="'required'">Value is required</clr-control-error>
            </clr-input-container>
        </span>
    </div>
    <div class="clr-col-3">
        <span>
            <clr-select-container class="compact">
                <label hidden></label>
                <select clrSelect name="options" [(ngModel)]="sensor.dataType" class="no-validation-icon" [name]="'dataType'+i" required>
                    <option *ngFor="let dataType of DataType.values()" [value]="dataType">{{dataType}}</option>
                  </select>
                  <clr-control-error *clrIfError="'required'">Data Type is a required field</clr-control-error>
            </clr-select-container>
        </span>
    </div>
    <div class="clr-col-1 text-right">
        <span>
            <button class="btn btn-link btn-icon" (click)="delete(sensor)">
                <clr-icon shape="trash"></clr-icon>
            </button>
        </span>
    </div>
</div>