<div class="text-right">
    <button class="btn btn-link" (click)="create()">
        <clr-icon shape="plus"></clr-icon> Add Sensor
    </button>
</div>
<div *ngFor="let sensor of sensors" class="clr-row"> 
    <div class="clr-col-5">
        <span>
            <clr-input-container class="compact">
                <label hidden></label>
                <input clrInput [(ngModel)]="sensor.name" class="no-validation-icon" name="name" placeholder="Name" required minlength="3"/>
                <clr-control-error *clrIfError="'required'">Name is required</clr-control-error>
                <clr-control-error *clrIfError="'minlength'; error as err">Name must be at least {{ err.requiredLength }} characters</clr-control-error>
            </clr-input-container>
        </span>
    </div>
    <div class="clr-col-5">
        <span>
            <clr-input-container class="compact">
                <label hidden></label>
                <input clrInput [(ngModel)]="sensor.unit" class="no-validation-icon" name="unit" placeholder="Unit" required/>
                <clr-control-error *clrIfError="'required'">Value is required</clr-control-error>
            </clr-input-container>
        </span>
    </div>
    <div class="clr-col-2 text-right">
        <span>
            <button class="btn btn-link btn-icon" (click)="delete(sensor)">
                <clr-icon shape="trash"></clr-icon>
            </button>
        </span>
    </div>
</div>