<clr-control-container *ngIf="action.id">
    <label>Id</label> 
    {{action.id}}
</clr-control-container>
<clr-input-container>
    <label>Name</label>
    <input clrInput type="text" [(ngModel)]="action.name" name="name" required maxlength=255 
    [readOnly]="readOnly" appActionNameValidator [id]="action?.id ? action.id! : '0'"/> 
    <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
    <clr-control-error *clrIfError="'appActionNameValidator'">This name is already taken</clr-control-error>
</clr-input-container>
<clr-toggle-container>
    <label>Enabled</label>
    <clr-toggle-wrapper>
        <input type="checkbox" clrToggle [(ngModel)]="action.enabled" name="enabled"/>
    </clr-toggle-wrapper>
</clr-toggle-container>
<clr-input-container>
    <label>Min Interval</label>
    <input clrInput type="number" [(ngModel)]="action.rateLimit" #period="ngModel" name="rate" required [readOnly]="readOnly"/>
    <clr-control-error *clrIfError="'required'">Rate is a required field</clr-control-error>
</clr-input-container>
<clr-radio-container>
    <label>Type</label>
    <clr-radio-wrapper>
        <input type="radio" clrRadio name="actionType" [value]="ActionType.SMS" [(ngModel)]="action.actionType" [readOnly]="readOnly" />
        <label><clr-icon shape="talk-bubbles" class="clr-icon is-warning is-solid"></clr-icon> SMS</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio name="actionType" [value]="ActionType.MAIL" [(ngModel)]="action.actionType" [readOnly]="readOnly" />
        <label><clr-icon shape="envelope" class="clr-icon is-warning is-solid"></clr-icon> Mail</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio name="actionType" [value]="ActionType.POPUP" [(ngModel)]="action.actionType" [readOnly]="readOnly" />
        <label><clr-icon shape="pop-out" class="clr-icon is-warning is-solid"></clr-icon> Popup</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio name="actionType" [value]="ActionType.PUSH_MESSAGE" [(ngModel)]="action.actionType" [readOnly]="readOnly" />
        <label><clr-icon shape="chat-bubble" class="clr-icon is-warning is-solid"></clr-icon> Push Message</label>
    </clr-radio-wrapper>
</clr-radio-container>