:root{
    --main-color: #0d3a5c;
    
}
html{
    font-size: 16px;
}
.right{
    position: absolute;
    top: 0;
    right: 0;
}
.card{
    width: fit-content;
    margin-top: 0;
}
.datagrid{
    margin-top: 0;
    border: none;
    border-radius: 0;
}