<form clrForm>
    <div *ngIf="alert" class="alert alert-success" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    Channel configuration has been saved successfully!
                </span>
            </div>
        </div>
        <button (click)="closeAlert()" type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
    <table class="table table-compact">
        <thead>
            <tr>
                <th>Channel Name</th>
                <th>Machine</th>
                <th>Sensor</th>
                <th>
                    <button class="btn btn-primary" (click)="saveAll()">
                        <clr-icon shape="floppy"></clr-icon> Save All
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let channel of channels; let i = index">
                <td>{{channel.channel}}</td>
                <td>
                    <clr-select-container>
                        <select clrSelect [name]="'thing'+i" [(ngModel)]="channel.thing">
                            <option value=undefined>None</option>
                            <option *ngFor="let thing of things" [ngValue]="thing">{{thing.name}}</option>
                        </select>
                    </clr-select-container>
                </td>
                <td>
                    <clr-select-container>
                        <select clrSelect [name]="'sensor'+i" [(ngModel)]="channel.sensor">
                            <option value=undefined>None</option>
                            <option *ngFor="let sensor of sensors" [ngValue]="sensor">{{sensor.name}}</option>
                        </select>
                    </clr-select-container>
                </td>
                <td>
                    <button type="button" class="btn btn-icon btn-primary" (click)="save(channel)">
                        <clr-icon shape="floppy"></clr-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>