<clr-control-container *ngIf="trigger?.id">
    <label>Id</label> 
    {{trigger.id}}
</clr-control-container>
<clr-input-container>
    <label>Name</label>
    <input clrInput type="text" [(ngModel)]="trigger.name" name="name" required maxlength=255 [readOnly]="readOnly" /> 
    <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
</clr-input-container>
<clr-toggle-container>
    <label>Enabled</label>
    <clr-toggle-wrapper>
        <input type="checkbox" clrToggle [(ngModel)]="trigger.enabled" name="enabled"/>
    </clr-toggle-wrapper>
</clr-toggle-container>
<clr-combobox-container>
    <label>Thing Groups</label>
    <clr-combobox name="thingGroups" [(ngModel)]="selectedThingGroups" [clrMulti]="true" 
        (clrSelectionChange)="onThingGroupSelectionChanged($event.model)">
        <ng-container *clrOptionSelected="let selected">
            <clr-icon shape="node-group"></clr-icon> {{selected.name}}
        </ng-container>
        <clr-options>
            <clr-option *clrOptionItems="let thingGroup of thingGroups; field:'name'" [clrValue]="thingGroup">
                <clr-icon shape="node-group"></clr-icon> {{thingGroup.name}}                
            </clr-option>
        </clr-options>
    </clr-combobox>
</clr-combobox-container>
<clr-combobox-container>
    <label>Actions</label>
    <clr-combobox name="actions" [(ngModel)]="selectedActions" [clrMulti]="true" 
        (clrSelectionChange)="onActionSelectionChanged($event.model)">
        <ng-container *clrOptionSelected="let selected">
            <clr-icon shape="node-group"></clr-icon> {{selected.name}}
        </ng-container>
        <clr-options>
            <clr-option *clrOptionItems="let action of actions; field:'name'" [clrValue]="action">
                <clr-icon shape="node-group"></clr-icon> {{action.name}}                
            </clr-option>
        </clr-options>
    </clr-combobox>
</clr-combobox-container>
<clr-radio-container clrInline>
    <label>Event Type</label>
    <clr-radio-wrapper>
        <input type="radio" clrRadio name="eventType" [value]="EventType.TELEMETRY" [(ngModel)]="trigger.eventType" [readOnly]="readOnly" />
        <label>Telemetry</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
        <input type="radio" clrRadio name="eventType" [value]="EventType.STATUS_CHANGE" [(ngModel)]="trigger.eventType" [readOnly]="readOnly" />
        <label>Status Change</label>
    </clr-radio-wrapper>
</clr-radio-container>