<clr-control-container *ngIf="trigger?.id">
    <label>Id</label> 
    {{trigger.id}}
</clr-control-container>
<clr-input-container>
    <label>Name</label>
    <input clrInput type="text" [(ngModel)]="trigger.name" name="name" required minlength=3 [readOnly]="readOnly" /> 
    <clr-control-error *clrIfError="'required'">Name is a required field</clr-control-error>
    <clr-control-error *clrIfError="'minlength'; error as err">Name must be at least {{ err.requiredLength }} characters</clr-control-error>
</clr-input-container>
<clr-control-container *ngIf="trigger?.id">
    <label>Enabled</label> 
    <clr-icon shape="check" class="is-success" *ngIf="trigger?.enabled"></clr-icon>
    <clr-icon shape="times" class="is-danger" *ngIf="!trigger?.enabled"></clr-icon>
</clr-control-container>
